<div class="container">

  <%= form_for @api_key, :html => {:class => "form-sign in"}  do |f| %>

      <h2 class="form-signin-heading">Need api key?!</h2>
      <h6>Just name your app and we will fix you key :)</h6>

      <%= f.label :app, :html => {class: 'sr-only'} %>
      <%= f.text_field :app, {class: 'form-control', placeholder: 'The name of your app...' } %>

      <br>

      <%= submit_tag 'Generate Key', {class: 'btn btn-lg btn-primary btn-block'}  %>

  <% end %>

</div> <!-- /container -->