<div class="container">
  <div class="jumbotron">
    <h3>1DV450 - Webbramverk</h3>
    <h2>Hej!</h2>
    <p>Vad kul att just du fick testa applikationen.
      Applikationen är utvecklad med RubyMine och med ramverket RoR.
      Har du väl kommit hit så får du här en lista på diverse inloggningar.
      Annars skulle det vara ganska tråkigt :)
    </p>

    <h4>Utvecklingsmiljö</h4>
    <ul>
      <li>IDE: RubyMine</li>
      <li>Ruby version 2.0.0</li>
      <li>Rails version 4.2.5 </li>
    </ul>

    <h4>1. Några kommando först!</h4>
    <p>Tänk på att stå i rooten av applikationsmappen för att det ska fungera.</p>
    <p>Kommande: <pre><code>bundle install</code></pre></p>
    <p>Nu bör du kunna logga in för att testa systemet.</p>
    <p>Kommande: <pre><code>rake db:setup</code></pre></p>
    <p>Nu bör du kunna logga in för att testa systemet.</p>

    <h4>2. Logga in</h4>
    <p>Inloggning sker via -> {Account Menu}</p>

    <pre>
      <code>
        email: 'andreas@anemyr.se' , password: 'secretpass' , admin: true
        email: 'matilda@anemyr.se' , password: 'secretpass'
        email: 'noa@anemyr.se'     , password: 'secretpass'
        email: 'ellen@anemyr.se'   , password: 'secretpass'
        email: 'elia@anemyr.se'    , password: 'secretpass'
        email: 'maja@anemyr.se'    , password: 'secretpass'
        email: 'wilma@anemyr.se'   , password: 'secretpass'
      </code>
    </pre>

    <h4>3. Frågor?</h4>
    <p>Kontakta Andréas Anemyr - aa223ig@student.lnu.se</p>

  </div>
  <p>Carpe Diem! :)</p>

</div>